/*
Theme Name:     Eduma Kids2IT
Theme URI:      http: //example.com/
Description:    Дочерняя тема для темы Eduma 
Author:         Vladislav
Author URI:     http: //example.com/about/
Template:       eduma
Version:        0.1.0
*/

@import url("../eduma/style.css");
/*Courses(Home page)*/
.course-author{display: none;}
#main-home-content div.course-meta{
	display: none;
}
#main-home-content .course-title{
	height: inherit;
	margin-top: 0px; 
	padding-top: 15px;
}
/*Courses(Courses)*/
#thim-course-archive .course-meta{
	display: none;
}
#thim-course-archive .course-title{
	height: inherit; 
	margin-top: 0;
	padding-top: 15px
}
#thim-course-archive .course-price{
	display: none;
}


/*PARTNERS SLIDER*/
/*Partners outer block*/
#post-127 pre{
	background-color: #FFFFFF;
	border: none;
}
/*Partner title*/
#post-127 .logo-company-name{
	background-color: #FFFFFF;
}
/*Partner logo*/
#post-127 .lgx-logo-img{
	border: none; 
	max-height: 150px; 
	max-width: 150px; 
	margin: 0
}
#post-127 .lgx-logo-item {
	max-width: 150px; 
	margin: 0
}
#post-127 .item {
	max-width: 150px; 
	margin: 0
}
#post-127 .lgx-log-item {
	max-width: 150px; 
	margin: 0
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item:first-child {
	margin-left: 1px;
}
/*Subscribe block*/
#mc4wp-form-1 .mc4wp-form-fields div{
	float: left;
}
#mc4wp-form-1 .mc4wp-form-fields div:first-child{
	float: left;
	width: 530px;
}
.wpb_wrapper div:first-child{
	margin-bottom: 0;
}
.vc_column-inner {
	margin-bottom: 35px;
}
.mc4wp-form-fields{
	margin-left: 25%;
}
.title{
font-size: 26px;
}
/*Registration on course Form*/
#pum_popup_title_246{
	margin-bottom: 10px;
}
#registration_form input{
	width: 260px;
	height: 29px;
	margin-bottom: 5px;
}
#registration_form label{
	width: 100px;
}
#registration_form #reg_sub{
	width: 365px;
	height: 40px;
	color: #FFFFFF;
}
/*Single course page*/
#lp-single-course .course-price {
	display: none;
}
#lp-single-course .course-students{
	display: none;
}
#lp-single-course .course-title{
	padding-top: 15px;
	margin-bottom: 0px;
	height: inherit;
	margin-top: 0;
}
#lp-single-course .course-meta::before{
	display: none
}
#lp-single-course .course-meta::after{
	display: none
}


