
html, body{
    //margin-top: 0 !important;
    //height: 100% !important;
}
body #tp_style_selector.show{
    z-index: 9999999;
}
body{
    overflow-x: hidden;
    .cp-affilate-link{
        display: none;
    }
}
.tp-table {
    display: table;
    width: 100%;
}
button {
    line-height: 30px;
    padding: 5px 25px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
input, button, select, textarea{
    border: 1px solid #eee;
    padding: 5px 10px;
    box-shadow: none;
    text-shadow: none;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.mfp-arrow:hover,
.mfp-arrow:focus{
    background: none;
}
input[type="email"],
input[type="password"],
input[type="text"] {
    &::-webkit-input-placeholder {
        .transition(none);
    }
    &:-moz-placeholder { /* Firefox 18- */
        .transition(none);
    }
    &::-moz-placeholder { /* Firefox 19+ */
        .transition(none);
    }
    &:-ms-input-placeholder {
        .transition(none);
    }
    &:focus {
        &::-webkit-input-placeholder {
            outline: none;
            box-shadow: none;
        }
        &:-moz-placeholder { /* Firefox 18- */
            outline: none;
            box-shadow: none;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            outline: none;
            box-shadow: none;
        }
        &:-ms-input-placeholder {
            outline: none;
            box-shadow: none;
        }
    }
}

input[type=submit],
button{
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    border: 0;
}

button {
    &:focus {
        outline: none;
        box-shadow: none;

    }
    &.btn {
        &:focus {
            outline: none;
            box-shadow: none;

        }
        &:active:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

/* Back To Top */
#back-to-top {
    position: fixed;
    bottom: 14px;
    right: 14px;
    display: block;
    width: 32px;
    height: 32px;
    background: #333;
    color: #fff;
    text-align: center;
    z-index: 997;
    cursor: pointer;
    .opacity(0);
    .transition(all ease-in-out 0.3s);
    visibility: visible;
    i {
        line-height: 32px;
        font-size: 10px;
    }
    &.active{
        .opacity(1);
    }
}

.message,
.learn-press .message {
    color: #31708f;
    margin: 0 0 40px;
    border: 0;
    border-radius: 0;
    line-height: 20px;
    padding: 10px 15px;
    font-size: 13px;
    background: #d9edf7;
    &.message-success {
        color: #3c763d;
        background: #dff0d8;
    }
    &.message-error {
        color: #a94442;
        background: #f2dede;
    }
    &.message-info {
        color: #31708f;
        background: #d9edf7;
    }
    &.message-warning {
        color: #8a6d3b;
        background: #fcf8e3;
    }
    a{
        &:hover{
            text-decoration: underline;
        }
    }
}
.message-success,
.message-error,
.message-info,
.message-warning{
    margin: 0 0 40px;
    border: 0;
    border-radius: 0;
    line-height: 20px;
    padding: 10px 15px;
    font-size: 13px;
    .mfp-content &{
        margin-top: 15px;
    }
}
.message-success {
    color: #3c763d;
    background: #dff0d8;
}
.message-error {
    color: #a94442;
    background: #f2dede;
}
.message-info {
    color: #31708f;
    background: #d9edf7;
}
.message-warning {
    color: #8a6d3b;
    background: #fcf8e3;
}
/* Paging Numberic*/
.loop-pagination, .pagination {
    text-align: left;
    display: inline-block;
    width: 100%;
    margin: 0;
    border-top: 0;
    padding-top: 0px;
    margin-top: 60px;
    .woocommerce &,
    .woocommerce-page{
        margin-top: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        display: block;
    }
    li {
        display: inline-block;
        zoom: 1;
        list-style: none;
        margin-right: 6px;
        .page-numbers {
            width: 40px;
            height: 40px;
            border: 1px solid #111;
            text-align: center;
            line-height: 38px;
            display: inline-block;
            overflow: hidden;
            font-size: 13px;
            font-weight: 700;
        }
        .page-numbers.next, .page-numbers.prev {
            white-space: nowrap;
            overflow: hidden;
            font-size: 0;
        }
        .page-numbers.next {
            &:before {
                content: "\f105";
                display: inline-block;
                font-family: 'FontAwesome';
                font-style: normal;
                font-weight: normal;
                line-height: 38px;
                font-size: 15px;
            }
        }
        .page-numbers.prev {
            &:before {
                content: "\f104";
                display: inline-block;
                font-family: 'FontAwesome';
                font-style: normal;
                font-weight: normal;
                line-height: 38px;
                font-size: 15px;
            }
        }
        .page-numbers.current {
        }
    }
}

.loop-pagination{
    body.single &{
        margin-top: 30px;
    }
    .page-number{
        width: 40px;
        height: 40px;
        border: 1px solid #111;
        text-align: center;
        line-height: 38px;
        display: inline-block;
        overflow: hidden;
        font-size: 13px;
        font-weight: 700;
        color: @thim_font_title_color;
        background: @thim_body_primary_color;
        border-color: @thim_body_primary_color;
        margin-right: 5px;
    }
    a{
        .page-number{
            border-color:#111;
            background: transparent;
        }
        &:hover{
            .page-number{
                color: @thim_font_title_color;
                background: @thim_body_primary_color;
                border-color: @thim_body_primary_color;
            }
        }
    }
}

/**
 * Columns Define
 * -----------------------------------------------------------------------------
 */
.col-1-1,
.col-1-2,
.col-1-3,
.col-1-4,
.col-1-5,
.col-1-6,
.col-2-3,
.col-2-5,
.col-3-4,
.col-3-5,
.col-4-5,
.col-5-6 {
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 0 15px;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.col-1-3 {
    width: 33.33333333%;
}

.col-2-3 {
    width: 66.66666666%;
}

.col-1-4 {
    width: 25%;
}

.col-3-4 {
    width: 75%;
}

.col-1-5 {
    width: 20%;
}

.col-4-5 {
    width: 80%;
}

.col-1-6 {
    width: 16.66666666%;
}

.col-5-6 {
    width: 83.33333333%;
}

.col-2-5 {
    width: 40%;
}

.col-3-5 {
    width: 60%;
}

@media (max-width: 767px) {
    .col-1-1,
    .col-1-2,
    .col-1-3,
    .col-1-4,
    .col-1-5,
    .col-1-6,
    .col-2-3,
    .col-2-5,
    .col-3-4,
    .col-3-5,
    .col-4-5,
    .col-5-6 {
        width: 50%;
    }
}

@media (max-width: 380px) {
    .col-1-1,
    .col-1-2,
    .col-1-3,
    .col-1-4,
    .col-1-5,
    .col-1-6,
    .col-2-3,
    .col-2-5,
    .col-3-4,
    .col-3-5,
    .col-4-5,
    .col-5-6 {
        width: 100%;
    }
}

/* End Columns Define */

/* Layout Sidebar position */
.lcr-sidebar {
    .page-container {
        .page-contents {
            float: right;
        }
        #secondary {
            float: left;
        }
    }
}

.left-sidebar {
    .page-container {
        .page-contents {
            float: right;
        }
        #secondary {
            float: left;

        }
    }
}

.lrc-sidebar {
    .page-container {
        float: right;
        .page-contents {
            float: right;
        }
        #secondary {
            float: left;
        }
    }
}

.page-container {
    padding: 0;
}

.page-container, .page-sidebar {
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

@media (max-width: 767px) {
    .left-sidebar {
        .page-container {
            .page-contents {
                float: none;
            }
            #secondary {
                float: none;
            }
        }
    }

    .lrc-sidebar {
        .page-container {
            float: none;
            .page-contents {
                float: none;
            }
            #secondary {
                float: none;
            }
        }
    }
}

/* End Layout Sidebar position */

/** Top slider **/
.tp-caption.thim-slider-heading{
    font-size: 100px;
    margin: 0 !important;
}
.tp-caption.thim-slider-sub-heading{
    font-size: 24px;
}
.tp-caption.thim-slider-button{
    transition: all 0.3s !important;
    white-space: nowrap !important;
}
.thim-click-to-bottom{
    animation: moveDown 1.3s cubic-bezier(0.07, 0.5, 0.58, 1) infinite;
}


/* Parallax effect */
.parallax_effect {
    position: relative;
    &:before {
        content: "";
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(50, 58, 69, 0.2);
    }
    > .panel-grid-cell {
        position: relative;
        z-index: 1;
    }
}

/* Comment post|page */
.woocommerce #content .comments-area,
.woocommerce .comments-area,
.comments-area {
    margin-top: 15px;
    input, textarea{
        .transition(all 0.3s ease-in-out);
    }
    .comment-list {
        margin: 0;
        .comment-list-inner {
            .comments-title {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 18px;
                padding: 15px 0;
                margin-bottom: 60px;
                margin-top: 50px;
                position: relative;
                line-height: 30px;
                padding-bottom: 22px;
                &:before {
                    content: '';
                    width: 35px;
                    height: 1px;
                    background: #000;
                    bottom: 0;
                    position: absolute;
                    left: 0;
                }
            }
            .comment-author.meta {
                color: #b3b3b3;
                strong {
                    color: #000;
                }
            }
            > li {
                list-style: none outside none;
                margin-bottom: 25px;
            }
            li {
                margin: 0;
                .wrapper-comment {
                    overflow: hidden;
                    padding: 45px 0;
                    border-top: 1px solid #eee;
                }
                .avatar {
                    width: 70px;
                    height: 70px;
                    float: left;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 30px;
                }
                .comment-right {
                    width: calc(~"100% - 100px");
                    width: -webkit-calc(~"100% - 100px");
                    width: -moz-calc(~"100% - 100px");
                    float: left;
                }
                .comment-awaiting-moderation {
                    //margin-left: 20px;
                }
                .comment-extra-info {
                    .author {
                        font-size: 15px;
                        font-weight: 700;
                        a, .author-name {
                            text-transform: capitalize;
                        }
                    }
                    .date {
                        font-size: 13px;
                        font-weight: 400;
                        color: #ccc;
                    }
                    .author, .date {
                        float: none;
                        display: inline-block;
                        margin-right: 15px;
                    }
                    .comment-edit-link,
                    .comment-reply-link {
                        display: inline-block;
                        float: right;
                        font-weight: 400;
                        font-size: 13px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .comment-edit-link {
                        margin-left: 15px;
                    }
                }
                .content-comment {
                    padding: 15px 30px 0 0;
                }
            }
            .children {
                margin: 0;
                margin-left: 100px;
                li {
                    list-style: none;
                }
            }
            .comment-form-author, .comment-form-email, .comment-form-url {
                width: 100%;
                display: block;
                input {
                    width: 100%;
                    line-height: 30px;
                    padding: 4px 15px;
                    min-height: 40px;
                    display: inline-block;
                    border: 1px solid #e3e6e6;
                    &.invalid{
                        border-color: red;
                    }
                }
            }
            /* Comment Area */
            textarea {
                width: 100%;
                padding: 7px 15px;
                border: 1px solid #e3e6e6;
                &.invalid{
                    border-color: red;
                }
            }
            .form-submit {
                input#submit {
                    text-shadow: none;
                    box-shadow: none;
                    border: none;
                    line-height: 30px;
                    padding: 5px 25px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 13px;
                }
            }
        }
    }
}

#respond.comment-respond {
    .comment-reply-title {
        font-weight: bold;
        padding: 15px 0;
        margin-bottom: 0px;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 25px;
    }
    .comment-notes {
        color: #999;
        position: relative;
        padding-bottom: 23px;
        margin-bottom: 55px;
        &:before {
            content: '';
            width: 35px;
            height: 1px;
            background: #000;
            bottom: 0;
            position: absolute;
            left: 0;
        }
    }
    .comment-form {
        .comment-form-author, .comment-form-email, .comment-form-url {
            width: 31%;
            display: inline-block;
            margin-bottom: 30px;
            float: left;
            input {
                width: 100%;
                line-height: 30px;
                padding: 4px 15px;
                min-height: 40px;
                display: inline-block;
                border: 1px solid #e3e6e6;
                &.invalid{
                    border-color: red;
                }
            }
        }
        .comment-form-author, .comment-form-email {
            margin-right: 3.5%;
        }
        /* Comment Area */
        textarea {
            width: 100%;
            padding: 7px 15px;
            border: 1px solid #e3e6e6;
            &.invalid{
                border-color: red;
            }
        }
        /* Submit Button */
        .form-submit {
            input#submit {
                text-shadow: none;
                box-shadow: none;
                border: none;
                line-height: 30px;
                padding: 5px 25px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
            }
        }
    }
    #cancel-comment-reply-link{
        text-transform: none;
    }
}

/**
Flexslider
**/
.flexslider {
    li {
        list-style: none;
    }
    position: relative;
    .flex-direction-nav {
        margin: 0;
        a {
            position: absolute;
            z-index: 9;
            top: 50%;
            cursor: pointer;
            width: 31px;
            margin: 0;
            height: 32px;
            background: #fff;
            text-align: center;
            overflow: hidden;
            margin-top: -16px;
            .transition(all .3s ease-in-out);
        }
        .flex-prev {
            left: -36px;
            opacity: 0;
            &:before {
                content: "\f104";
                font-family: "FontAwesome";
                font-size: 22px;
                line-height: 31px;
                display: inline-block;
            }
        }
        .flex-next {
            right: -36px;
            opacity: 0;
            &:before {
                content: "\f105";
                font-family: "FontAwesome";
                font-size: 22px;
                line-height: 31px;
                display: inline-block;
            }
        }
    }
    &:hover {
        .flex-direction-nav {
            .flex-prev {
                opacity: 0.8;
                left: 5px;
            }
            .flex-next {
                opacity: 0.8;
                right: 5px;
            }
        }
    }
}

.site-content {
    padding: 60px 15px 100px;
    &.no-padding-top {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.overlay-black, .overlay-primary {
    position: relative;
    &:before {
        background: rgba(45, 51, 57, 0.95);
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
    }
    > div {
        position: relative;
        z-index: 2;
    }
}

.overlay-black {
    .thim-widget-courses-searching .courses-searching {
        button {
            &:hover {
                background: #181818;
            }
        }
    }
}

// list after from search
.list-info {
    margin-top: 35px;
    margin-left: 0;
    li {
        font-size: 16px;
        list-style: none;
        display: inline-block;
        padding: 0 20px;
        i {
            margin-right: 5px;
        }
        a {
            color: inherit;
        }
    }
}

.custom-images {
    margin-top: -18px;
    position: relative;
    margin-bottom: -7px;
}

.smicon-box {
    &:before, &:after {
        clear: both;
        display: table-cell;
        content: "";
    }
}

.custom-readmore {
    padding-top: 20px;
    padding-bottom: 20px;
}

.top_site_main {
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-color: rgba(45, 51, 57, 0.95);
    min-height: 235px;
    &.top_site_overlay{
        padding-top: 140px;
    }
    >.overlay-top-header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,0.5);
    }
    .page-title-wrapper {
        padding-top: 90px;
        padding-bottom: 90px;
        text-align: left;
        position: relative;
        z-index: 1;
        .banner-wrapper{
            overflow: hidden;
        }
        h1, h2 {
            color: inherit;
            margin: 0;
        }
        h1, h2 {
            line-height: 54px;
            text-transform: uppercase;
            font-size: 48px;
            font-weight: 700;
            padding-left: 25px;
            position: relative;
            &:before {
                content: '';
                width: 3px;
                line-height: 54px;
                bottom: 0;
                height: auto;
                position: absolute;
                left: 0;
                top: 0;
                margin-right: 22px;
            }
        }
    }
    .banner-description {
        font-style: italic;
    }
}
#breadcrumbs{
    font-size: 12px;
}

.breadcrumbs-wrapper {
    .woocommerce-breadcrumb,
    .thim-breadcrumbs,
    #breadcrumbs {
        padding: 13px 0;
        margin: 0;
        border-bottom: 1px solid #eee;
        li {
            line-height: 25px;
            display: inline-block;
            list-style: none;
            font-size: 12px;
            span {
                margin: 0;
            }
            &:last-child {
                span {
                    margin-right: 0;
                }
            }
        }
        a {
            line-height: 25px;
            display: inline-block;
            margin-right: 15px;
            &:after {
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #eee;
                display: inline-block;
                margin: 0 0 0 15px;
                line-height: 25px;
            }
        }
    }
    &.button-list-gird {
        .woocommerce-breadcrumb, .display, .thim-breadcrumbs, #breadcrumbs {
            width: 50%;
            display: inline-block;
            vertical-align: middle;
        }
        .display {
            text-align: right;
            a, a i {
                color: #728592;
                margin-left: 20px;
            }
            .switcher-active i, a:hover i {
            }
        }
    }
}

.gallery-img {
    .item {
        a {
            position: relative;
            display: inline-block;
            .mark {
                background-image: url("images/preview-gallery.png");
                background-repeat: no-repeat;
                background-position: center center;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                .scale (scale(0));
                .transition();
            }
            &:hover {
                .mark {
                    .scale (scale(1));
                }
            }
        }
    }
}

.btn-primary {
    font-style: normal;
    a {
        color: #fff !important;
    }
    &:hover {
        background-color: #323945;
        border-color: #323945;
    }
}

.btn-border {
    color: #fff;
    border: 2px solid #fff;
    .rounded(5px);
    margin: 0 10px;
    font-style: normal;
}

.slider-desc {
    .btn {
        font-size: 16px;
        padding: 8px 20px;
        font-weight: bold;
        margin-top: 20px;
    }
}

//  style radio button
input[type="radio"], input[type="checkbox"] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
    &:focus {
        box-shadow: 0;
        outline: 0;
    }
    &:checked:before {
        float: left;
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        font-family: FontAwesome;
        font-weight: 400;
        font-size: 14px;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f00c';
        margin: 0;
    }
}

input[type="radio"] {
    border-radius: 50%;
    line-height: 10px;
    font-size: 14px;
    &:checked:before {
        content: '\2022';
        text-indent: -9999px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        font-size: 24px;
        width: 6px;
        height: 6px;
        margin: 4px;
        line-height: 16px;
        background: #ffb606;
    }
}

input[type="checkbox"] {
    &:checked:before {
        content: '\f00c';
        margin: 0;
    }
}

// extra class siteorigin
.custom-search {
    background-repeat: no-repeat !important;
}

.full-width {
    background-repeat: no-repeat !important;
    background-position: 140% 100%;
    > .panel-grid-cell {
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        .icon-box-title {
            font-style: inherit;
            margin-top: 0;
        }
    }
}

.background-left {
    background-repeat: no-repeat !important;
    background-position: center left;
}

.bg-top-norepeat {
    background-position: top left;
    background-repeat: no-repeat !important;
}

#course-landing.one-courses-page .course-curriculum {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    .course-curriculum-title, ul.curriculum-sections .section {
        padding-left: 0;
    }
}

.content-landing {
    .box {
        .box-home {
            span {
                text-align: center;
                visibility: hidden;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80px;
                height: 80px;
                background-color: #fff;
                margin-top: -40px;
                margin-left: -40px;
                border: 1px solid #fff;
                border-radius: 100%;
                line-height: 80px;
                font-size: 13px;
                font-weight: bold;
                color: #222;
                text-transform: uppercase;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;
            }
            &:hover {
                span {
                    visibility: visible;
                    -moz-animation-name: bounce;
                    animation-name: bounce;
                }
            }
        }
    }
}

.navigation .tm-table {
    table-layout: fixed;
    max-width: none;
    width: auto;
    min-width: 100%;
    display: table;
}

// Quiz result
.quiz-result {
    margin-top: 20px;
    float: left;
    margin-right: -300px;
    width: 100%;
    .quiz-result-mark {
        float: left;
        width: 150px;
        height: 150px;
        background-color: #F5F5F5;
        border-radius: 50%;
        text-align: center;
        box-sizing: border-box;
        padding-top: 30px;
        line-height: 1;

        .quiz-mark {
            font-size: 60px;
            display: block;
        }
        .quiz-mark small {
            font-size: 20px;
        }

    }
    .quiz-result-summary {
        float: left;
        margin-left: 30px;

        .quiz-result-field {
            margin: 0;
            font-size: 14px;
            > label {
                width: 100px;
                display: inline-block;
            }
            &.correct {
                color: #0066cc;
            }
            &.wrong {
                color: #BC0B0B;
            }
            &.empty {
                color: #869791;
            }
        }
    }
}

.article__parallax {
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat !important;
}

//Thim background overlay
.thim-bg-overlay {
    position: relative;
    &:before {
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 0;
    }
    > .panel-grid-cell {
        position: relative;
    }
}

/** Thim get 100s **/
.thim-get-100s {
    padding-top: 181px;
    .get-100s {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        margin: 0;
    }
    h2 {
        color: #fff;
        font-size: 72px;
        line-height: 75px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 2px 0 10px;
    }
}

.thim-best-industry {
    margin: -263px -2px 81px;
    position: relative;
}

.thim-register-form-top {
    margin-top: -605px;
}

/** Social shortcode **/
.mo-openid-app-icons{
    text-align: center;
    position: relative;
    padding-bottom: 60px;
    display: block !important;
    &:after{
        content: '';
        position: absolute;
        max-width: 520px;
        border-bottom: 1px solid #eee;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    >p{
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 30px !important;
        text-align: center;
    }
    .btn-block{
        line-height: 18px;
        display: inline-block;
        border: 0;
        border-radius: 0;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px;
        color: #fff;
        .fa{
            left: 0;
            width: 40px;
            border-right: 1px solid #fff;
            font-size: 16px;
            line-height: 30px;
        }
    }
}

//Thim slider one course demo
.thim-slider-one-course-heading{
    margin: 0 !important;
}
.thim-slider-one-course-desc{
    text-align: center;
}
//Thim join the elite group -- One course demo
.thim-join-the-elite-group {
    position: relative;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ffb606;
        .opacity(0.6);
    }
    >div{
        position: relative;
        z-index: 2;
    }
    .sc_heading{
        margin-bottom: 3px;
        padding: 137px 0 0;
        .sub-heading{
            font-size: 18px;
        }
    }
    .thim-widget-button{
        text-align: center;
        padding-bottom: 110px;
        margin-top: -5px;
    }
    &.thim-dark{
        &:before{
            background: #000;
            .opacity(0.5);
            display: block;
            z-index: 1;
        }
    }
}

.thim-what-it-about-desc{
    max-width: 820px;
    margin: auto;
    margin-bottom: 67px;
    text-align: center;
    .description{
        font-size: 18px;
        line-height: 30px;
        padding: 17px 0 10px;
    }
    .button{
        margin-bottom: 30px;
        .thim-button{
            line-height: 30px;
            padding: 10px 25px;
            border: 0;
            box-shadow: none;
            color: #333;
            background: #ffb606;
            text-transform: uppercase;
            display: inline-block;
            font-weight: 700;
            font-size: 13px;
        }
    }
    .thim-login-link{
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        a{
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid #ffb606;
        }
    }
}
.thim-hello-there{
    .sc_heading{
        padding-top: 17px;
    }
    .readmore{
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        margin-top: 15px;
        a{
            color: #fff;
            &:hover{
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}


#cptch_input{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.site-main .lpr_quiz{
    display: none;
}

.thim-buy-now{
    max-width: 1170px;
    margin: auto;
    padding: 42px 35px;
    .thim-widget-button{
        padding: 13px 0;
        text-align: right;
        .widget-button{
            border-color: #fff;
            background: #fff;
            color: #333;
            &.normal{
                line-height: 30px;
                height: 40px;
                padding: 5px 30px;
            }
            &:hover{
                color: #333;
            }
        }
    }
}
.thim-buy-now-desc{
    position: relative;
    padding-left: 20px;
    &:before{
        width: 4px;
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        content: '';
        background: #ffb606;
    }
    .heading{
        text-transform: uppercase;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #fff;
        margin: 0;
        padding: 3px 0 6px;
    }
    .description{
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        line-height: 25px;
        padding-bottom: 2px;
    }
}

.owl-carousel .owl-item{
    cursor: -webkit-grabbing;
}

.thim-col-5{
    width: 20%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}
.thim-widget-carousel-post .thim-gallery-show{
    display: none;
}
.thim-widget-gallery-posts{
    .wrapper-filter-controls{
        text-align: center;
        ul{
            margin: 0 auto;
            display: inline-block;
            border-bottom: 1px solid #eee;
            padding: 0 10px;
            margin-top: -10px;
            margin-bottom: 60px;
        }
        li{
            list-style: none;
            display: inline-block;
        }
        a{
            display: inline-block;
            border-bottom: 2px solid transparent;
            margin: 0 8px -2px 8px;
            padding: 5px 8px;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 13px;
            font-weight: 700;
        }
    }
    .wrapper-gallery-filter{
        >.thim-col-5,
        >[class*="col-sm-"]{
            padding-bottom: 30px;
        }
    }
    .thim-gallery-show{
        display: none;
    }
    .thim-gallery-popup{
        display: block;
        position: relative;
        >img{
            width: 100%;
        }
        &:before{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            content: "";
            background: rgba(0,0,0,0.3);
            .opacity(0);
            -ms-transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            .transition(all 0.4s ease-in-out);
            z-index: 9;
        }
        &:hover{
            &:before{
                .opacity(1);
                -ms-transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
        }
        &:after{
            content: "\f002";
            font-family: FontAwesome;
            position: absolute;
            width: 31px;
            height: 30px;
            line-height: 30px;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            color: #fff;
            font-size: 30px;
            z-index: 10;
            .opacity(0);
            -ms-transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            .transition(all 0.4s ease-in-out);
        }
        &:hover{
            &:after{
                .opacity(1);
                -ms-transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
        }
        &.loading{
            &:after{
                -webkit-animation: fa-spin 1s infinite steps(8);
                animation: fa-spin 1s infinite steps(8);
                content: "\f110";
                font-size: 24px;
                width: 24px;
                height: 24px;
                line-height: 24px;
                .transition(none);
            }
        }
    }
}

body .box-title{
    text-align: inherit;
}
body #tp_style_selector{
    z-index: 999;
    .box-title{
        text-align: center;
    }
}
body.thim-body-load-overlay{
    overflow-x: hidden;
}

.owl-controls{
    .owl-pagination{
        display: block;
        text-align: center;
        .thim-widget-gallery-images &{
            margin-top: 25px;
        }
        .owl-page{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #82888d;
            display: inline-block;
            margin: 0 10px;
        }
    }
}

.thim-gallery-message{
    padding: 40px 20px;
    background: #fff;
    .link{
        &:hover{
            text-decoration: underline;
        }
    }
}

.thim-button-down{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    width: 30px;
    left: 50%;
    margin-left: -15px;
    z-index: 990;
    bottom: 30px;
    color: #999;
    text-align: center;
    &:hover,
    &:focus,
    &:active{
        color: #999;
    }
}

.course-summary iframe,
#learn-press-course-lesson iframe{
    max-width: 100%;
}

/** Landing Page **/
.landing-image{
    .image-link{
        display: block;
        width: 100%;
        height: 230px;
        overflow: hidden;
        position: relative;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.26);
        -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.26);
        .image{
            width: 100%;
            height: 100%;
            .transition(all 2s ease-in-out);
            background-position: top center;
            background-repeat: no-repeat;
        }
        &:hover{
            .image{
                background-position: bottom center;
            }
        }
    }
    .title{
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 30px;
        margin: 20px 0 20px;
    }
}

.thim-select-demo{
    max-width: 540px;
    margin: auto;
    .sc_heading{
        .sub-heading{
            line-height: 24px;
            margin-top: 3px;
        }
    }
}

.thim-top-landing{
    .sc_heading{
        margin-bottom: 0;
        padding-bottom: 0;
        .sub-heading{
            max-width: 650px;
            margin: auto;
            font-size: 18px;
            margin-top: 23px;
            line-height: 24px;
        }
    }
}

.navigation .menu-right ul li>.thim-widget-button{
    padding: 0;
}
.thim-support-service{
    .panel-grid-cell{
        .so-panel{
            &:first-child{
                margin-bottom: 0 !important;
            }
        }
    }
    .sc_heading{
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.page-template-homepage .message[class*=message-]{
    display: none;
}

.thim-color-white{
    color: #fff;
}

.thim-bg-overlay-green{
    position: relative;
    &:before{
        position: absolute;
        content: '';
        background: #a0bd2c;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -2;
    }
}

.thim-bg-pattern{
    position: relative;
    &:after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../../images/bg_pattem.jpg) repeat top left;
        z-index: -1;
        display: block;
        .opacity(0.05);
    }
    &.thim-bg-overlay-green{
        &:before{
            z-index: -2;
        }
    }
    &.thim-bg-overlay-color{
        &:before{
            z-index: -2;
        }
    }
}

.thim-bg-green{
    background: #9bba1f;
}
.thim-bg-red{
    background: #d43a3b;
}
.thim-bg-yellow{
    background: #ffbc1b;
}
.thim-bg-border-top{
    position: relative;
    &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 248px 248px 0 0;
        border-color: #007bff transparent transparent transparent;
    }
    &.thim-bg-green{
        &:before{
            border-color: #96b41c transparent transparent transparent;
        }
    }
    &.thim-bg-red{
        &:before{
            border-color: #cd3536 transparent transparent transparent;
        }
    }
    &.thim-bg-yellow{
        &:before{
            border-color: #fab716 transparent transparent transparent;
        }
    }
}

.thim-row-bg-border-top{
    margin-top: -130px;
    position: relative;
}

.thim-border-left-lastchild{
    >.panel-grid-cell:last-child{
        position: relative;
        padding-left: 30px;
        &:before{
            position: absolute;
            content: '';
            left: -15px;
            top: 52px;
            bottom: 0;
            width: 1px;
            height: auto;
            background: #eee;
        }
    }
}

.thim-no-margin-top{
    margin-top: 0;
}
.thim-margin-top-10{
    margin-top: 10px;
}
.thim-margin-top-20{
    margin-top: 20px;
}
.thim-margin-top-30{
    margin-top: 30px;
}
.thim-margin-top-40{
    margin-top: 40px;
}
.thim-margin-top-50{
    margin-top: 50px;
}
.thim-margin-top-60{
    margin-top: 60px;
}
.thim-margin-top-70{
    margin-top: 70px;
}
.thim-margin-top-80{
    margin-top: 80px;
}
.thim-margin-top-90{
    margin-top: 90px;
}
.thim-margin-top-100{
    margin-top: 100px;
}

.thim-no-margin-bottom{
    margin-bottom: 0;
}
.thim-margin-bottom-10{
    margin-bottom: 10px;
}
.thim-margin-bottom-20{
    margin-bottom: 20px;
}
.thim-margin-bottom-30{
    margin-bottom: 30px;
}
.thim-margin-bottom-40{
    margin-bottom: 40px;
}
.thim-margin-bottom-50{
    margin-bottom: 50px;
}
.thim-margin-bottom-60{
    margin-bottom: 60px;
}
.thim-margin-bottom-70{
    margin-bottom: 70px;
}
.thim-margin-bottom-80{
    margin-bottom: 80px;
}
.thim-margin-bottom-90{
    margin-bottom: 90px;
}
.thim-margin-bottom-100{
    margin-bottom: 100px;
}

.thim-text-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 32px;
    position: relative;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 12px;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
    }
}
#main-home-content>p{
    margin: 0;
}
.owl-controls .owl-prev,
.owl-controls .owl-next{
    background: transparent;
}
iframe[name=google_conversion_frame]{
    height: 0 !important;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

body img::-moz-selection {
    background: transparent;
}

body img::selection {
    background: transparent;
}

/** NEW LOADER **/
.cssload-loader-style-2 {
    display: block;
    margin: 0 auto;
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    position: relative;
    border: 7px solid #ffb606;
    animation: cssload-loader 2.3s infinite ease;
    -o-animation: cssload-loader 2.3s infinite ease;
    -ms-animation: cssload-loader 2.3s infinite ease;
    -webkit-animation: cssload-loader 2.3s infinite ease;
    -moz-animation: cssload-loader 2.3s infinite ease;
}

.cssload-loader-inner-style-2 {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #ffb606;
    animation: cssload-loader-inner 2.3s infinite ease-in;
    -o-animation: cssload-loader-inner 2.3s infinite ease-in;
    -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
    -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
    -moz-animation: cssload-loader-inner 2.3s infinite ease-in;
}



@keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@-o-keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@-ms-keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@-webkit-keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@-moz-keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

//Style loading 3
.cssload-loader-style-3 {
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    position: absolute;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.cssload-loader-style-3 .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.cssload-loader-style-3 .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @thim_body_primary_color;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.cssload-loader-style-3 .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.cssload-loader-style-3 .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.cssload-loader-style-3 .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.cssload-loader-style-3 .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.cssload-loader-style-3 .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.cssload-loader-style-3 .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}


//New loading for lesson
.cssload-container{
    display: block;
    width: 97px;
    top: 50%;
    margin-top: -10px;
    position: absolute;
    left: 50%;
    margin-left: -48px;
}

.cssload-loading i{
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 50%;
    background: #ffb606;
}
.cssload-loading i:first-child{
    opacity: 0;
    animation:cssload-loading-ani2 0.58s linear infinite;
    -o-animation:cssload-loading-ani2 0.58s linear infinite;
    -ms-animation:cssload-loading-ani2 0.58s linear infinite;
    -webkit-animation:cssload-loading-ani2 0.58s linear infinite;
    -moz-animation:cssload-loading-ani2 0.58s linear infinite;
    transform:translate(-19px);
    -o-transform:translate(-19px);
    -ms-transform:translate(-19px);
    -webkit-transform:translate(-19px);
    -moz-transform:translate(-19px);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(3){
    animation:cssload-loading-ani3 0.58s linear infinite;
    -o-animation:cssload-loading-ani3 0.58s linear infinite;
    -ms-animation:cssload-loading-ani3 0.58s linear infinite;
    -webkit-animation:cssload-loading-ani3 0.58s linear infinite;
    -moz-animation:cssload-loading-ani3 0.58s linear infinite;
}
.cssload-loading i:last-child{
    animation:cssload-loading-ani1 0.58s linear infinite;
    -o-animation:cssload-loading-ani1 0.58s linear infinite;
    -ms-animation:cssload-loading-ani1 0.58s linear infinite;
    -webkit-animation:cssload-loading-ani1 0.58s linear infinite;
    -moz-animation:cssload-loading-ani1 0.58s linear infinite;
}




@keyframes cssload-loading-ani1{
    100%{
        transform:translate(39px);
        opacity: 0;
    }
}

@-o-keyframes cssload-loading-ani1{
    100%{
        -o-transform:translate(39px);
        opacity: 0;
    }
}

@-ms-keyframes cssload-loading-ani1{
    100%{
        -ms-transform:translate(39px);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-loading-ani1{
    100%{
        -webkit-transform:translate(39px);
        opacity: 0;
    }
}

@-moz-keyframes cssload-loading-ani1{
    100%{
        -moz-transform:translate(39px);
        opacity: 0;
    }
}

@keyframes cssload-loading-ani2{
    100%{
        transform:translate(19px);
        opacity: 1;
    }
}

@-o-keyframes cssload-loading-ani2{
    100%{
        -o-transform:translate(19px);
        opacity: 1;
    }
}

@-ms-keyframes cssload-loading-ani2{
    100%{
        -ms-transform:translate(19px);
        opacity: 1;
    }
}

@-webkit-keyframes cssload-loading-ani2{
    100%{
        -webkit-transform:translate(19px);
        opacity: 1;
    }
}

@-moz-keyframes cssload-loading-ani2{
    100%{
        -moz-transform:translate(19px);
        opacity: 1;
    }
}

@keyframes cssload-loading-ani3{
    100%{
        transform:translate(19px);
    }
}

@-o-keyframes cssload-loading-ani3{
    100%{
        -o-transform:translate(19px);
    }
}

@-ms-keyframes cssload-loading-ani3{
    100%{
        -ms-transform:translate(19px);
    }
}

@-webkit-keyframes cssload-loading-ani3{
    100%{
        -webkit-transform:translate(19px);
    }
}

@-moz-keyframes cssload-loading-ani3{
    100%{
        -moz-transform:translate(19px);
    }
}

//For add
.cp-modal-popup-container .cp-blank .cp-row>.col-lg-12{
    padding-left: 0;
    padding-right: 0;
}

input.cptch_input {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.owl-controls{
    .owl-buttons{
        .owl-prev,
        .owl-next{
            display: inline-block;
            margin-left: 10px;
            cursor: pointer;
            border: 1px solid #111;
            width: 30px;
            text-align: center;
            line-height: 28px;
            i{
                text-align: center;
                vertical-align: middle;
                line-height: 28px;
                color: #333;
                font-size: 8px;
                display: block;
            }
        }
        .owl-prev{
            margin-left: 0;
        }
    }
}
.post-password-form{
    margin-top: 150px;
    min-height: 100px;
    text-align: center;
    padding: 50px 0;
    input[name=post_password]{
        line-height: 28px;
    }
}
.mo-openid-app-icons{
    a.btn-block{
        cursor: pointer;
    }
}