
.event-block{
    border: 1px solid #d3d3d3; 
    border-radius: 5px;  
}
.event-block h2{
    text-align: center; 
    margin-top: 15px;
    font-weight: 600;
    color: #4286f4;    
}
.event-block h3{
    text-align: center; 
    margin-top: 15px;
    padding: 0;
}
.event-date{
    color: #3fb558; 
    font-size: 18px;
    font-weight: 600; 
    text-align: center;
    margin-bottom: 15px;
}
hr{
    width: 90%;
    color: gray;
}
hr:last-child{
    width: 0;
}