#toolbar {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	font-weight: 700;
	.thim-demo-university-4 & {
		font-weight: 400;
		padding-top: 0;
		padding-bottom: 0;
		.menu {
			li {
				padding-top: 10px;
				padding-bottom: 10px;
				line-height: 25px;
			}
		}
		.widget {
			display: inline-block;
			float: right;
			padding: 0;
		}
		.widget_login-popup .thim-link-login{
			line-height: 45px;
			border-left: 1px solid #444;
			border-right: 1px solid #444;
			padding: 0 15px;
			a {
				padding: 5px 0px;
				line-height: 35px;
				&.profile {
					display: none;
				}
				&.logout,
				&.login {
					&:before {
						content: '\f007';
						display: inline-block;
						font-family: FontAwesome;
						font-size: 15px;
						margin-right: 8px;
					}
				}
				&.login{
					line-height: 35px;
					height: 45px;
					width: 15px;
					display: block;
					overflow: hidden;
					white-space: nowrap;
					&:before{
						width: 15px;
						text-align: center;
						margin-right: 0;
					}
				}
			}
		}
		.widget_search {
			.search-form {
				line-height: 45px;
				padding: 0;
				&:after {
					height: 45px;
					line-height: 45px;
					width: 45px;
					text-align: center;
					z-index: 0;
					right: 0;
					left: auto;
				}
				label {
					.search-field {
						width: 45px;
						position: relative;
						top: 0;
						height: 45px;
						line-height: 45px;
						padding: 0 0 0 45px;
						cursor: pointer;
						&:focus {
							cursor: text;
							padding-left: 15px;
							padding-right: 40px;
							background: transparent;
						}
						&::-webkit-input-placeholder {
							color: transparent;
						}
						&::-moz-placeholder {
							color: transparent;
						}
						&:-ms-input-placeholder {
							color: transparent;
						}
						&:-moz-placeholder {
							color: transparent;
						}
					}
				}
			}
		}
	}
	.header_v3 & {
		font-weight: 400;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.widget_login-popup,
	.widget_login-menu {
		float: right;
		.thim-link-login {
			line-height: 30px;
			a {
				padding: 0 12px;
				line-height: 20px;
				display: inline-block;
				&:last-child {
					padding-right: 0;
				}
				&:first-child {
					padding-left: 0;
				}
				&:first-child:not(:last-child) {
					border-right: 1px solid #212121;
				}
			}
		}
	}
	.thim-language {
		float: right;
		margin-right: 10px;
	}
	.widget_search {
		float: right;
		padding: 5px 0;
		padding-left: 18px;
		.search-form {
			padding-left: 42px;
			padding-right: 62px;
			line-height: 20px;
			border-left: 1px solid #444;
			&:after {
				left: 18px;
				top: 0;
				line-height: 16px;
				height: 16px;
				font-size: 14px;
				width: 20px;
			}
			label .search-field {
				background: transparent;
				border: none;
				line-height: 30px;
				height: 30px;
				padding: 0;
				font-size: 13px;
				width: 62px;
				position: absolute;
				top: -5px;
				right: 0;
				z-index: 999;
				&:focus {
					width: 200px;
					padding: 0 10px;
					background: #444;
				}
			}
			.search-submit {
				text-indent: -9999px;
				display: none;
				background: #334444;
			}
		}
	}
	.menu {
		display: inline-block;
		margin: 0;
		li {
			display: inline-block;
			list-style: none;
			padding-right: 40px;
		}
	}
}

.thim-language {
	line-height: 30px;
	position: relative;
	ul {
		margin: 0;
		min-width: 130px;
		position: absolute;
		padding: 5px 20px;
		left: -20px;
		z-index: 99;
		background: #2B2B2B;
		display: none;
		li {
			list-style: none;
		}
	}
	.lang-item {
		line-height: 20px;
		display: inline-block;
		&.active {
			padding-right: 12px;
			border-right: 1px solid #212121;
			&:after {
				content: "\f107";
				display: inline-block;
				padding-left: 5px;
				line-height: 18px;
				font-family: FontAwesome;
				vertical-align: bottom;
			}
		}
		img {
			max-height: 10px;
			width: auto;
			margin-right: 7px;
		}
	}
	.list-lang {
		.lang-item {
			display: block;
			line-height: 24px;
		}
	}
}

.thim-have-any-question {
	float: left;
	line-height: 30px;
	.mobile,
	.email {
		display: inline-block;
		margin-left: 11px;
		line-height: 30px;
		.fa {
			margin-right: 7px;
		}
	}
}

.header_v3 {
	.thim-widget-link {
		overflow: hidden;
		border-right: 1px solid #f5f5f5;
		padding: 0px 30px 19px 15px;
		&:hover {
			background: #f5f5f5;
		}
		.title {
			font-weight: 500;
			font-size: 15px;
			margin-top: 19px;
			margin-bottom: 2px;
			a {
				color: @thim_font_title_color;
			}
		}
		.desc {
			font-size: 11px;
			color: #999;
			line-height: 1.2;
		}
	}
	.thim-widget-button {
		margin-top: 25px;
		margin-right: 0;
		margin-left: 30px;
	}
	#toolbar {
		a {
			&:hover {
				text-decoration: none;
				color: #ccc;
			}
		}
	}
}

.header_v3_container {
	padding-bottom: 0;
	.widget-button {
		//display: block;
	}
}