#ps-posts-search{
    border: 1px solid #d3d3d3; 
    border-radius: 5px;
    margin-bottom: 7px;
}
#ps-posts-search h3{
    color: #24478f;
    margin-top: 7px;
    margin-bottom: 10px;
    text-align: center;
}
#ps-posts-search label{
    margin-bottom: 0;
    margin-left: 5%;
    margin-top: 10px;
}
#ps-posts-search input{
    height: 35px;
    width: 90%;
    margin: auto;
}
#ps-posts-search button{
   height: 35px;
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 0;
   border-radius: 5px; 
}
#ps-posts-search .posts-list{
    width: 90%;
    margin: auto;
    margin-bottom: 7px;
}
#ps-posts-search .posts-list li{
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}
#ps-posts-search .posts-list li:hover{
    opacity: 0.6;
}
#ps-posts-search .posts-list hr{
    width: 100%;
    color: #f2f2f2;
    margin-top: 5px;
    margin-bottom: 7px;
}
#ps-posts-search .posts-list hr:last-child{
    display: none;
}